  @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor Accessor;
@{
    ViewData["Title"] = "Manager - Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }
}
<style>
    
</style>
<div id="dashboard-main-container">
    
    <div class="title-main-container" id="timelogs-table-notification">
        <div class="content-container" style="display:flex;flex-direction: row;justify-content: space-between;align-items: center;">
            <h4 style="font-size: 26px;" class="text-left">  <i class="fa-solid fa-bell" style="margin: 10px;"></i> Manager - Notification</h4>
            <a href="../../TimeLogs/ManagerIndex" style="font-size: 18px;" class="m-notification" id="m-timelogs">  <i class="fa-solid fa-clock" style="margin: 10px;"></i> Timelogs</a>
        </div>
        <div class="top-main-container ">
        </div>
        <div class="main-container">
            <div class="content-filter-tbl">
                <table id="noti-table" class="table table-bordered table-hover w-100">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
                <div id="table-footer">
                </div>

            </div>
        </div>
    </div>
   
</div>
@section Scripts {
    <script>
       
        var uid = "@Accessor.HttpContext.Session.GetString("UserID")";
        
        $(document).ready(function () {
            
            initializeNotiDataTable();
        });
        
    </script>
}
