@{
    ViewData["Title"] = "Dashboard";
    string message = "";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }

}
<div>
    <div>
        <div>
            <h1>Pending Leave Request</h1>
        </div>
    </div>
</div>
@section Scripts {
    <script>


    </script>
}