<div class="main-container">
        <!-- Top Corp User  -->
        <div class="top-corp-user">
          <h4>Top {} corporate users</h4>
          <table class="myTable" id="corporatetable">
            <thead>
              <th>Name</th>
              <th>Location</th>
              <th>Privilege</th>
              <th>Total Visit</th>
            </thead>
            <tbody>
             
            </tbody>
          </table>
          <a href="#">View All</a>
        </div>
        <!-- Top Corp  -->
        <div class="top-corp">
          <h4>Top 5 corporates</h4>
          <div class="graphs">
            <div class="graph-item">
              <span class="tc-item" id="item1" title="0"></span>
              <span class="tc-label">Company1</span>
            </div>
            <div class="graph-item">
              <span class="tc-item" id="item2" title="0"> </span>
              <span class="tc-label">Company2</span>
            </div>
            <div class="graph-item">
              <span class="tc-item" id="item3" title="0"></span>
              <span class="tc-label">Company3</span>
            </div>
            <div class="graph-item">
              <span class="tc-item" id="item4" title="0"></span>
              <span class="tc-label">Company4</span>
            </div>
            <div class="graph-item">
              <span class="tc-item" id="item5" title="0"></span>
              <span class="tc-label">Company5</span>
            </div>
          </div>
          <div class="graph-label">
            <div class="linear">
              <span>25</span>
              <span></span>
            </div>
            <div class="linear">
              <span>20</span>
              <span></span>
            </div>
            <div class="linear">
              <span>15</span>
              <span></span>
            </div>
            <div class="linear">
              <span>10</span>
              <span></span>
            </div>
            <div class="linear">
              <span>5</span>
              <span></span>
            </div>
            <div class="linear">
              <span>0</span>
              <span></span>
            </div>
          </div>
        </div>
        <!-- Top Outlets  -->
        <div class="top-outlets">
          <div class=""><h4>Top 3 Business Outlets</h4></div>
          <div class="outlet-data">
            <div class="to-pie-graph-info" id="to-pie-graph-info">
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--accent)"
                ></span>
                <span class="data-name" style="color: var(--accent)"
                  >Others</span
                >
                <span class="data-value" style="color: var(--accent)">40%</span>
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--primary)"
                ></span>
                <span class="data-name" style="color: var(--primary)"
                  >Business1</span
                >
                <span class="data-value" style="color: var(--primary)"
                  >30%</span
                >
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--secondary-brown)"
                ></span>
                <span class="data-name" style="color: var(--secondary-brown)"
                  >Business2</span
                >
                <span class="data-value" style="color: var(--secondary-brown)"
                  >20%</span
                >
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--secondary-light)"
                ></span>
                <span class="data-name" style="color: var(--secondary-light)"
                  >Business3</span
                >
                <span class="data-value" style="color: var(--secondary-light)">
                  10%</span
                >
              </div>
            </div>
            <div class="to-pie-graph" id="to-pie-graph"></div>
            <div class="top-table" id="to-pie-table">
              <table class="myTable">
                <thead>
                  <th>Business Outlet</th>
                  <th>Total Visit</th>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Top Outlets  -->

        <!-- Top Users  -->
        <div class="top-users">
          <div class=""><h4>Top 3 Most Active Users</h4></div>
          <div class="user-data">
            <div class="tu-pie-graph-info">
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--accent)"
                ></span>
                <span class="data-name" style="color: var(--accent)"
                  >Others</span
                >
                <span class="data-value" style="color: var(--accent)">40%</span>
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--primary)"
                ></span>
                <span class="data-name" style="color: var(--primary)"
                  >John Doe</span
                >
                <span class="data-value" style="color: var(--primary)"
                  >30%</span
                >
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--secondary-brown)"
                ></span>
                <span class="data-name" style="color: var(--secondary-brown)"
                  >Jane Doe</span
                >
                <span class="data-value" style="color: var(--secondary-brown)"
                  >20%</span
                >
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--secondary-light)"
                ></span>
                <span class="data-name" style="color: var(--secondary-light)"
                  >Alfred Doe</span
                >
                <span class="data-value" style="color: var(--secondary-light)">
                  10%</span
                >
              </div>
            </div>
            <div class="tu-pie-graph"></div>
            <div class="top-table">
              <table class="myTable">
                <thead>
                  <th>Name</th>
                  <th>Total Visit</th>
                </thead>
                <tbody>
                  <tr>
                    <td>John Doe</td>
                    <td>500</td>
                  </tr>
                  <tr>
                    <td>Jane Doe</td>
                    <td>300</td>
                  </tr>
                  <tr>
                    <td>Alfred Doe</td>
                    <td>200</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Top Users  -->
        <!-- Top Privileges  -->
        <div class="top-privileges">
          <div class=""><h4>Top 3 Most Used privileges</h4></div>
          <div class="user-data">
            <div class="tp-pie-graph-info">
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--accent)"
                ></span>
                <span class="data-name" style="color: var(--accent)"
                  >Others</span
                >
                <span class="data-value" style="color: var(--accent)">40%</span>
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--primary)"
                ></span>
                <span class="data-name" style="color: var(--primary)"
                  >John Doe</span
                >
                <span class="data-value" style="color: var(--primary)"
                  >30%</span
                >
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--secondary-brown)"
                ></span>
                <span class="data-name" style="color: var(--secondary-brown)"
                  >Jane Doe</span
                >
                <span class="data-value" style="color: var(--secondary-brown)"
                  >20%</span
                >
              </div>
              <div class="data">
                <span
                  class="data-label"
                  style="background-color: var(--secondary-light)"
                ></span>
                <span class="data-name" style="color: var(--secondary-light)"
                  >Alfred Doe</span
                >
                <span class="data-value" style="color: var(--secondary-light)">
                  10%</span
                >
              </div>
            </div>
            <div class="tp-pie-graph"></div>
            <div class="top-table">
              <table class="myTable">
                <thead>
                  <th>Name</th>
                  <th>Total Visit</th>
                </thead>
                <tbody>
                  <tr>
                    <td>John Doe</td>
                    <td>500</td>
                  </tr>
                  <tr>
                    <td>Jane Doe</td>
                    <td>300</td>
                  </tr>
                  <tr>
                    <td>Alfred Doe</td>
                    <td>200</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Top Privileges  -->
      </div>