@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;

<div class="topbarcorporate">
  <div class="page-title">
    <h1 style="font-size:3vw">Corporate User Registration Form</h1>
  </div>
  <div class="user-panel">
    <div class="language">
    @*   <select class="lang-selector">
        <option value="en">🇺🇸 Eng (US)</option>
        <option value="ar">🇦🇪 Arabic</option>
      </select> *@
      <span id="darkmode" class="btn-darkmode"> Light </span>
    </div>
    <div class="avatar">
      <div class="user">
        <div class="profile">
          <img src="@Accessor.HttpContext.Session.GetString("ImgUrl")" alt="Ali" width="100%" />
        </div>
        <div class="info">
          <p class="name">@Accessor.HttpContext.Session.GetString("Name")</p>
          <p class="role">@Accessor.HttpContext.Session.GetString("UserType")</p>
              <a href="../../Login/Logout" > <p class="logout" style="font-size:10px;margin-left:3px" id="exit"><i class="fas fa-sign-out-alt" style="margin-right: 3px;"></i>Log Out</p></a>
         
        </div>
        
      </div>
    </div>
  </div>
</div>

    @section Scripts{
        <script>
               $(document).ready(function () {
               });
        $('#exit').click(function () {
                    alert("EXIT");
                    });
    </script>
    }